[submodule "api-main"]
	path = api-main
	url = https://github.com/jasmynej/weddio-api.git
[submodule "client"]
	path = client
	url = https://github.com/jasmynej/weddio-client.git
[submodule "weddio-ai"]
	path = weddio-ai
	url = https://github.com/jasmynej/weddio-ai.git
